/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, h1, div, p, img {
    margin-block-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



* {
    font-family: var(--font-family-primary);
}
:root {
    --color-yellow:#F4D04E;
    --color-gray-950: #111111;
    --color-gray-500: #6B6B6B;
    --color-white: #FFFFFF;
    --font-family-primary: "Figtree", serif;
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-300: 24px;
    --margin-mobile: 6.4vw;
    --gutter-mobile: 6.4vw;
}

.text-preset-1 {
    line-height: 1.5;
    font-size: 24px;
    letter-spacing: 0px;
    color: var(--color-gray-950);
    font-family: var(--font-family-primary);
}

.text-preset-2 {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0px;
    color: var(--color-gray-950);
}

.text-preset-3 {
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0px;
    color: var(--color-gray-950);
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.medium {
    font-weight: 500;
}

body {
    background-color: var(--color-yellow);
    display: grid;
    grid-template-rows: 1fr 501px 1fr;
    grid-template-columns: var(--margin-mobile) repeat(4, 1fr) var(--margin-mobile);
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--gutter-mobile);
    height: 100vh;
    padding: var(--margin-mobile);

  
}

.blog-card-container {
    grid-column: 1 / span 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    padding: var(--spacing-300);

}
.image-container {
    /* background-color: black; */
    height: 201px;
    padding: 0;

}
img {
    /* overflow-clip-margin: unset;
    overflow: hidden; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top:-1px; */

    object-position: center;

}

.image-object {
    object-fit: cover;
}

